@{
    ViewData["Title"] = "Admin - Add a Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
@model IEnumerable<GummiBearKingdom.Models.Product>

<html>
<body>
    <div class="container">
        <h1>Gummi Bear Kingdom Products</h1>
        <hr />
        <br />

        <ul>
            @foreach (var listProduct in Model)
            {
                <li>Name: @Html.DisplayFor(modelItem => listProduct.Name) @Html.ActionLink("Details", "Details", new { id = listProduct.ProductsId })</li>
            }
        </ul>
    </div>
</body>
</html>