<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="box">
        <ul class="menu">
            <li><a href="#"></a></li>
            <li>
                <a href="/Home/Index">Home</a>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Maecenas lacinia sem</a></li>
                    <li><a href="#">Suspendisse fringilla</a></li>
                </ul>
            </li>
            <li>
                <a href="/Products/Index">Products</a>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Maecenas dignissim ..</a></li>
                    <li><a href="#">Suspendisse fringilla</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Maecenas lacinia sem</a></li>
                    <li><a href="#">Suspendisse fringilla</a></li>
                </ul>
            </li>
            <li>
                <a href="/Blog/Index">Comment</a>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Maecenas lacinia sem</a></li>
                    <li><a href="#">Suspendisse fringilla</a></li>
                </ul>
            </li>
            <li><a href="/Admin/Index">Admin</a> </li>
        </ul>
    </div>

    <br>
    @RenderBody()
    <br />
    <br />
    <footer>
        <br />
        <br />
        <div class="footer">
            <p>Copyright &copy; Rouz Majlessi 2016</p>
        </div>
    </footer>

</body>
</html>


























