body {
  background-color: white;
}   
.box {
  margin-top: 40px;
  height: 85px;
  border-bottom: 5px solid #fff;
  background-color: red;
  background-image: -webkit-linear-gradient(180deg, transparent 55%, #00bfe1 45%);
  background-image: -o-linear-gradient(180deg, transparent 50%, red 50%);
  background-image: -ms-linear-gradient(180deg, transparent 50%, red 50%);
  background-image: linear-gradient(90deg, transparent 50%, red 50%);
  background-size: 30px 30px;
}
.menu {
  width: 850px;
  margin: 0 auto;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  -ms-perspective: 50px;
  perspective: 50px;
  
}
.menu > li {
  display: inline-block;
  padding-top: 48px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.menu > li > a {
  position: relative;
  display: block;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 0 20px;
}
.menu > li:first-child > a:before {
  position: absolute;
  left: 0;
  top: 36px;
  content: '';
  width: 1px;
  height: 1px;
  border-width: 15px 30px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #4bb100;
}
.menu > li:first-child > a:after {
  font-family: 'iconminia';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  content: "\21";
}
.menu > li:first-child a,
  .menu > li:first-child:hover > a,
  .menu > li:first-child:hover a:hover {
  color: #fff;
  top: 2px;
  height: 36px;
  margin-right: 10px;
  text-shadow: 0 1px 0 #3c8f00;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 0 #a6d980 inset;  
  background-color: #4bb100;
}
.menu > li:hover > a {
  color: #1a89c8;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
} 
.menu ul {
  position: absolute;
  text-align: left;
  line-height: 40px;
  font-size: 14px;
  width: 200px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.menu ul a {
  display: block;
  padding: 0 15px 0 10px;
  color: #1a89c8;
}
.menu > li:hover ul {
  display: block;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.menu ul a:hover {
  color: #fff;
  text-shadow: 0 1px 0 #1c71a1;
  text-decoration: none;
  background-color: #218bc7;
} 
html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}

.container {
    font-family:Broadway;
    font-size: 30px;
    color:crimson;
    
}

.editor-label {
    font-family:Broadway;
    font-size:30px;
    color:crimson;
    text-align:center;
}

.editor-field {
    font-family: normal;
    font-size:18px;
    color:black;
    text-align:center;
}

.editor-button {
    font-family:Broadway;
    font-size: 15px;
    color:mediumseagreen;
    text-align:center;
}



.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

