@{ 
    ViewData["Title"] = "Gummi Bear Kindom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div>
        <div class="container">
            <div>
                <div>              
                   <p>
                        <h4>Welcome</h4>
                        <br>
                        Gummi Kingdome has the best and original Gummi Bears. Take a Look at all the products of Gummies we have.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>